@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400;600&family=Oswald:wght@300;400;500;700&display=swap');

.first-page {
background: url(image/Hero.png);
width: 100%;
height: 100vh;
}

.header{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.logo {
    background: rgb(249, 241, 241);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin: 15px;
    
}
/* .logo img{
    width: 3.125rem;
    height: 3.125rem;
    
} */

.nav {
display: flex;
padding: 2rem;
flex-wrap: nowrap;



}
.nav__button {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 21px;
display: flex;
align-items: flex-end;
letter-spacing: 1.9392px;
text-transform: uppercase;

padding: 0 1.5rem;

}
.nav__button a{
 color: #FFFFFF;   
}
.nav__button :hover{
    color: #4CAF50;
}

.heading-title {
display: flex;

align-items: center;
flex-direction: column;
padding: 30vh 0 0 0;

}
.upper_text {
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 107px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 4.608px;

color: #FFFFFF;
}
.under_text {
    font-family: 'OpenSans';
font-size: 1.25rem;
line-height: 23px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1.28px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.8;
}
.slider {
}

/* -------------------SECOND PAGE---------------------- */
.we-are {
height: 38rem;
margin: 0 auto;

}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin: 90px 0 0 0;
   
   
}

.heading {
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 2.25rem;
line-height: 53px;

letter-spacing: 2.3px;

color: #333333;
}
.description {
font-family: 'OpenSans';
font-size: 0.9375rem;
line-height: 25px;
font-weight: 300;
width: 20rem;
max-height: 6rem;
overflow: hidden;


display: flex;
align-items: center;
letter-spacing: 1.26px;

color: #5B5858;

}


.text-block{
    margin-left: -50px;
   
 }
 .second-desk{
     margin: 250px 0 0 300px; 
 
 }
 

 .photo-block{
     
     
     margin: 60px auto;
     display: flex;
     
 }
 
 .first_photo{
     width: 19.3rem;
     height: 26rem;
     
     position: relative;
     margin: 0;
 
 }
 .first_photo img{
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0.5;
     object-fit: cover;
 
 
     width: 19.3rem;
     height: 26rem;
 }
 .second_block {
  
 width: 19.3rem;
 height: 26rem;
 background: #3a8d3d;
 opacity: 0.6;
 
 margin: 60px 0 0 -30px;
 
 
 
 }
 .third_photo{
     width: 19.3rem;
     height: 26rem;
     
     position: relative;
     
     margin: 120px 0 0 -60px;
 }
 .third_photo img{
     width: 19.3rem;
     height: 26rem;
     opacity: 0.8;
 
     position: absolute;
     top: 0;
     left: 0;
     
     object-fit: cover;
 
 }
/* ------------------------------------------------------------------ */

.services {
width: 100%;
min-height: 40rem;
padding: 1rem;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #F2F2F2;
}

.heading {
    padding: 2rem 0 2.5rem 0;
    
    
}

.cards {

 display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fill, 27rem );
grid-gap: 1rem;
justify-content: center;
align-items: center;


}
.cards__block {

 
width: auto;
height: 18rem;

box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
background: #FFFFFF;

}
.cards__block:hover{
    box-shadow: 0 2px 0 0 rgba(4, 145, 86, 0.396);
    animation: scale 100ms linear forwards;
}
@keyframes scale {
    100% {
        transform: scale(1.1);
    }
}
.section {
display: flex;
flex-direction: column;
padding: 2rem;

}
.section__heading {
font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 1.25rem;
line-height: 30px;


display: flex;
align-items: flex-end;
letter-spacing: 1.28px;
text-transform: uppercase;


color: #252525;


}
.section__icon {
    align-self: flex-end;
    position: relative;
    margin-top: -4rem;
}
.section__description {
    padding: .8rem 0 .8rem 0;
    overflow: hidden;
}

.btn {
    
    position: relative;
    color: rgb(9, 8, 8);
    
    font-family: "Oswald";
    text-decoration: none;
    letter-spacing: 2px;
    width: 15rem;
    height: 3rem;
    margin: 0 0 0  20px;
    border-radius: 5px;
   
    font-size: 1rem;
    text-transform: uppercase;
    
    padding: .8em 2em;
    outline: none;
    
    background-image: linear-gradient(45deg, rgba(28, 25, 25, 0) 30%, rgba(255, 255, 255, 0.629), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(39, 138, 66, 0.3) 0 2px 5px;
} 
.btn:active {
    top: 1px;
    box-shadow: none;
}
.btn:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

/* -----------------------WORKS-------------------- */

.main-section {
width: 74.0625rem;
height: 103.25rem;
margin: 3.75rem 0;

}

.heading {
}
.main-nav {
}
/* ------------------------------------------------------------------------- */
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
  
}

*, *:after, *:before { 
	
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-two figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-text-two h3 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #65f652 !important;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-text-two figcaption::before,
figure.effect-text-two p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-two p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.effect-text-two:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-text-two:hover figcaption::before ,
figure.effect-text-two:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}






.effect-text-two{
    width: 35rem;
    height: 40rem;
}
/* ---------------------------------------TEAM------------------------------------------------------ */

/* Общие стили */
*, *:after, *:before { 
	
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-one img {
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 100px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.2);
}
figure.effect-text-one figcaption {
	top: auto;
	bottom: 0;
	height: 50%;
	text-align: left;
}
figure.effect-text-one h3,
figure.effect-text-one p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}
figure.effect-text-one h3 {
	color: #04630c !important;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
figure.effect-text-one p {
	background: rgba(255, 255, 255, 0.6);
	color: rgb(0, 0, 0);
    margin: 10px;
  padding: 20px;
  opacity: 0;
  border-radius: 5%;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;  
}
figure.effect-text-one:hover img,
figure.effect-text-one:hover p {
	opacity: 1;
}
figure.effect-text-one:hover img,
figure.effect-text-one:hover h3,
figure.effect-text-one:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-one:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.team{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
}

.effect-text-one{
    width: 24rem;
    height: 24rem;
}

/* ---------------------------------quotation------------------------------- */

.rating-result {
	width: 265px;
	margin: 0 auto;
}

.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
	content: '★';
}

.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}


.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	
}

.quotation {
    
}
.quotation__text {
align-items: center;
justify-content: center;

font-family: 'OpenSans';
font-size: 0.9375rem;
line-height: 25px;
font-weight: 300;
width: 20rem;
max-height: 6rem;
overflow: hidden;


display: flex;
align-items: center;
letter-spacing: 1.26px;

color: #5B5858;
}

.quotation__icon {
}
.quotation__name {
}
.quotation__rating {
}
